.wrap {
  padding: 15px;
  background-color: rgb(87, 87, 87);
  
  h3 {
    color: rgb(33, 123, 123);
  }

  .imgWrap {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }
  
  img {
    width: 100%;
    background-color: rgb(186, 182, 182);
    transition: scale .2s ease-in-out;

    &:hover {
      // transform: scale(1.1);
      scale: 120%;
    }
  }
}